In [1]:
import sys

try:
    if changed:
        raise Exception("changed")
except NameError:
    changed = False
    sys.path.append("../")

In [3]:
import pandas as pd

df_massbank = pd.read_csv(
    "../data/MSdata.csv", encoding="mac_roman"
)

df_massbank.head()

,Formule chimique,peak,intensitÈ,intensitÈ relative
0,C27H39NO2,"['84.1', '105.1', '107.1', '114.1', '115.1', '...","['12461', '2208', '2394', '40390', '2816', '31...","['32', '6', '6', '105', '7', '8', '6', '82', '..."
1,C33H49NO7,"['84.1', '85.1', '87.0', '97.0', '99.0', '102....","['8514', '1990', '1086', '907', '621', '1378',...","['161', '38', '21', '17', '12', '26', '20', '2..."
2,C33H51NO7,"['67.1', '81.1', '84.1', '85.0', '87.0', '96.1...","['450', '620', '2636', '1396', '607', '476', '...","['21', '29', '123', '65', '28', '22', '34', '2..."
3,C20H32O3,"['123.120', '135.200', '139.200', '145.180', '...","['12500.0', '29166.7', '29166.7', '16666.7', '...","['1', '3', '3', '2', '1', '39', '1', '2', '1',..."
4,C18H32O3,"['195.247', '196.440', '233.341', '277.395', '...","['947500.0', '40000.0', '112500.0', '2582500.0...","['22', '1', '3', '59', '1', '1', '1', '2', '99..."